
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.eml
local.properties
.settings/
.loadpath
.recommenders
build.xml

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath
#IntelliJ files
.idea/
*.java___jb_tmp___
*.eml___jb_tmp___

lib/Residence.jar
lib/FactionsUUID.jar
lib/Feudal.jar
lib/FabledKingdoms.jar
dependency-reduced-pom.xml
target/classes
target/generated-sources
target/maven-archiver
target/maven-status
target/original-WildTp.jar
*.iml
*.iws

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
